extends layout

block content
 header
 section
     input(
     type='text'
     class='input-name'
     placeholder="usuario"
     )
     input(
     type='password'
     class='input-password'
     placeholder="senha"
     )
     input(
     type='submit'
     class='input-submit'
     value="Entrar"
     )

   


